build
aqt/version.py
dist
venv
build_venv
*.pyc
*.egg-info
__pycache__
.idea
.tox
.venv
ci/*.matrix.gen.yml
docs/_build/
*.mo
aqtinstall.log
Qt/
.gravitybee
.eggs
qtaccount.ini
.pytest_cache
.run/
.python-version
.env
