include README.rst
include LICENSE
include pyproject.toml
recursive-include aqt *.ini
prune ci
prune docs
prune tests
prune tools
prune .github
exclude .flake8
exclude .git_archival.txt
exclude .gitignore
exclude .gitattributes
exclude .readthedocs.yml
exclude azure-pipelines.yml
